.controll-info-row{
	cursor: pointer;
	padding: 10px 0px;
	width:200px;
}
.titleinfo-right{
	float: left;
}
.setting-left{
	position: absolute;
	right: 0px;
	display:none;
}
.controll-info-edit{
	display: none;
}
#broswer_image:hover{
	cursor:pointer;
}